--
-- PostgreSQL database dump
--

\restrict 4gQgWZtNoQmWbKtj9uhhaTTqU5c0YQJ8qgavUaX9p4RVtGjLxfGb9SNQdUN5BOM

-- Dumped from database version 17.11
-- Dumped by pg_dump version 17.11

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Game; Type: TABLE; Schema: public; Owner: gameuser
--

CREATE TABLE public."Game" (
    id text NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    description text,
    duration integer DEFAULT 60 NOT NULL,
    status text DEFAULT 'active'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Game" OWNER TO gameuser;

--
-- Name: GameSession; Type: TABLE; Schema: public; Owner: gameuser
--

CREATE TABLE public."GameSession" (
    id text NOT NULL,
    "gameId" text NOT NULL,
    "playerId" text,
    "sessionToken" text NOT NULL,
    "startedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "submittedAt" timestamp(3) without time zone,
    "ipHash" text,
    "userAgentHash" text
);


ALTER TABLE public."GameSession" OWNER TO gameuser;

--
-- Name: Player; Type: TABLE; Schema: public; Owner: gameuser
--

CREATE TABLE public."Player" (
    id text NOT NULL,
    nickname text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "lastPlayedAt" timestamp(3) without time zone
);


ALTER TABLE public."Player" OWNER TO gameuser;

--
-- Name: Score; Type: TABLE; Schema: public; Owner: gameuser
--

CREATE TABLE public."Score" (
    id text NOT NULL,
    "gameId" text NOT NULL,
    "sessionId" text NOT NULL,
    "playerId" text,
    score integer DEFAULT 0 NOT NULL,
    "goodHits" integer DEFAULT 0 NOT NULL,
    mistakes integer DEFAULT 0 NOT NULL,
    duration integer DEFAULT 0 NOT NULL,
    verified boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Score" OWNER TO gameuser;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: gameuser
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO gameuser;

--
-- Data for Name: Game; Type: TABLE DATA; Schema: public; Owner: gameuser
--

COPY public."Game" (id, name, slug, description, duration, status, "createdAt", "updatedAt") FROM stdin;
cmtx88r430000qd01l2895n7s	─Éß╗Öi ─Éß║╖c Nhiß╗çm Nh├¡	doi-dac-nhiem-nhi	Tr├▓ ch╞íi r├¿n luyß╗çn kß╗╣ n─âng nhß║¡n biß║┐t v├á tr├ính c├íc vß║¡t kh├┤ng r├╡ nguß╗ôn gß╗æc hoß║╖c c├│ thß╗â g├óy hß║íi.	60	active	2026-09-11 17:25:26.98	2026-09-11 17:25:26.98
\.


--
-- Data for Name: GameSession; Type: TABLE DATA; Schema: public; Owner: gameuser
--



--
-- Data for Name: Player; Type: TABLE DATA; Schema: public; Owner: gameuser
--

COPY public."Player" (id, nickname, "createdAt", "lastPlayedAt") FROM stdin;
cmtx89n3y0001qd01lxsfdwes	T├¡	2026-09-11 17:26:08.447	\N
cmtx8eyko0000pa01qa54rpi2	T├¡	2026-09-11 17:30:16.584	2026-09-11 17:30:49.45
cmtx8gdiu0005pa019jya2d66	T├¡	2026-09-11 17:31:22.614	\N
\.


--
-- Data for Name: Score; Type: TABLE DATA; Schema: public; Owner: gameuser
--

COPY public."Score" (id, "gameId", "sessionId", "playerId", score, "goodHits", mistakes, duration, verified, "createdAt") FROM stdin;
cmtx8fnxp0004pa013rmrrkby	cmtx88r430000qd01l2895n7s	cmtx8eyks0002pa0111ljw577	cmtx8eyko0000pa01qa54rpi2	10	10	2	32	t	2026-09-11 17:30:49.453
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: gameuser
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
1cd8e795-8816-4e06-8aa2-a4a506ebaded	f0aed835b04eaaad2384cdc523f7741837afdda4ed1ee658c626950437083ea5	2026-09-11 17:17:22.104304+00	20260911171722_init	\N	\N	2026-09-11 17:17:22.078711+00	1
\.


--
-- Name: GameSession GameSession_pkey; Type: CONSTRAINT; Schema: public; Owner: gameuser
--

ALTER TABLE ONLY public."GameSession"
    ADD CONSTRAINT "GameSession_pkey" PRIMARY KEY (id);


--
-- Name: Game Game_pkey; Type: CONSTRAINT; Schema: public; Owner: gameuser
--

ALTER TABLE ONLY public."Game"
    ADD CONSTRAINT "Game_pkey" PRIMARY KEY (id);


--
-- Name: Player Player_pkey; Type: CONSTRAINT; Schema: public; Owner: gameuser
--

ALTER TABLE ONLY public."Player"
    ADD CONSTRAINT "Player_pkey" PRIMARY KEY (id);


--
-- Name: Score Score_pkey; Type: CONSTRAINT; Schema: public; Owner: gameuser
--

ALTER TABLE ONLY public."Score"
    ADD CONSTRAINT "Score_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: gameuser
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: GameSession_gameId_idx; Type: INDEX; Schema: public; Owner: gameuser
--

CREATE INDEX "GameSession_gameId_idx" ON public."GameSession" USING btree ("gameId");


--
-- Name: GameSession_playerId_idx; Type: INDEX; Schema: public; Owner: gameuser
--

CREATE INDEX "GameSession_playerId_idx" ON public."GameSession" USING btree ("playerId");


--
-- Name: GameSession_sessionToken_key; Type: INDEX; Schema: public; Owner: gameuser
--

CREATE UNIQUE INDEX "GameSession_sessionToken_key" ON public."GameSession" USING btree ("sessionToken");


--
-- Name: GameSession_startedAt_idx; Type: INDEX; Schema: public; Owner: gameuser
--

CREATE INDEX "GameSession_startedAt_idx" ON public."GameSession" USING btree ("startedAt");


--
-- Name: Game_slug_key; Type: INDEX; Schema: public; Owner: gameuser
--

CREATE UNIQUE INDEX "Game_slug_key" ON public."Game" USING btree (slug);


--
-- Name: Game_status_idx; Type: INDEX; Schema: public; Owner: gameuser
--

CREATE INDEX "Game_status_idx" ON public."Game" USING btree (status);


--
-- Name: Player_nickname_idx; Type: INDEX; Schema: public; Owner: gameuser
--

CREATE INDEX "Player_nickname_idx" ON public."Player" USING btree (nickname);


--
-- Name: Score_createdAt_idx; Type: INDEX; Schema: public; Owner: gameuser
--

CREATE INDEX "Score_createdAt_idx" ON public."Score" USING btree ("createdAt");


--
-- Name: Score_gameId_score_idx; Type: INDEX; Schema: public; Owner: gameuser
--

CREATE INDEX "Score_gameId_score_idx" ON public."Score" USING btree ("gameId", score);


--
-- Name: Score_gameId_verified_score_idx; Type: INDEX; Schema: public; Owner: gameuser
--

CREATE INDEX "Score_gameId_verified_score_idx" ON public."Score" USING btree ("gameId", verified, score);


--
-- Name: Score_playerId_idx; Type: INDEX; Schema: public; Owner: gameuser
--

CREATE INDEX "Score_playerId_idx" ON public."Score" USING btree ("playerId");


--
-- Name: Score_sessionId_key; Type: INDEX; Schema: public; Owner: gameuser
--

CREATE UNIQUE INDEX "Score_sessionId_key" ON public."Score" USING btree ("sessionId");


--
-- Name: GameSession GameSession_gameId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gameuser
--

ALTER TABLE ONLY public."GameSession"
    ADD CONSTRAINT "GameSession_gameId_fkey" FOREIGN KEY ("gameId") REFERENCES public."Game"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: GameSession GameSession_playerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gameuser
--

ALTER TABLE ONLY public."GameSession"
    ADD CONSTRAINT "GameSession_playerId_fkey" FOREIGN KEY ("playerId") REFERENCES public."Player"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Score Score_gameId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gameuser
--

ALTER TABLE ONLY public."Score"
    ADD CONSTRAINT "Score_gameId_fkey" FOREIGN KEY ("gameId") REFERENCES public."Game"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Score Score_playerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gameuser
--

ALTER TABLE ONLY public."Score"
    ADD CONSTRAINT "Score_playerId_fkey" FOREIGN KEY ("playerId") REFERENCES public."Player"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Score Score_sessionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gameuser
--

ALTER TABLE ONLY public."Score"
    ADD CONSTRAINT "Score_sessionId_fkey" FOREIGN KEY ("sessionId") REFERENCES public."GameSession"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 4gQgWZtNoQmWbKtj9uhhaTTqU5c0YQJ8qgavUaX9p4RVtGjLxfGb9SNQdUN5BOM

